<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>



    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <link rel="stylesheet" href="/style.css">-->
    <link th:href="@{/styles/style.css}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

</head>

<header th:replace="fragments/header.html">
</header>

<body class="container">
<h1>Tour List</h1>
<!--<p><a href="add.html">Add</a></p>-->
<!--<p><a href="findOneAndEdit.html">Find/Edit</a></p>-->
<!--<p><a href="deleteOne.html">Delete one</a></p>-->

<table id="header-table-body" class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tour Name</th>
        <th>Tour Type</th>
        <th>Tour Duration</th>
        <th>Tour Exercise</th>
        <th>Tour Guide</th>
    </tr>
    </thead>
    <tbody id="tbody"></tbody>

</table>

<div class="content-layout">
<table id="tour-table-body" class="table">
    <thead>
    </thead>
    <tbody id="tbody1"></tbody>

</table>

<div id="chrMap"></div>
</div>
<script>

    const mymap = L.map('chrMap').setView([55.32037, 15.18828], 17);
    // const marker = L.marker([0,0]).addTo(mymap);
    const marker = L.marker([55.320126, 15.186754]).addTo(mymap);

    const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tiles = L.tileLayer(tileUrl, {attribution});
    tiles.addTo(mymap);

    // L.marker([55.320126, 15.186754]).addTo(map);


    //For a separated front and backend you must provide the full URL including protocol to the server
    sessionStorage.setItem("SERVER_URL", "christiansoe/tour"); //This will be available in all files, as demonstrated below
    const SERVER_URL = sessionStorage.getItem("SERVER_URL");
    /*
    TODO:
    Use fetch with SERVER_URL to fetch all persons from the backend a create the required (using map) table-rows
    to render all persons on the page
     */

    fetch(SERVER_URL)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            makeRows(data)
        });

    function makeRows(data) {
        const tours = data
        const rows = tours?.map(u => `
         <tr>
           <td>${(u.id)}</td>
           <td>${(u.name)}</td>
           <td>${(u.tourtype.type)}</td>
           <td>${(u.duration) + "min"}</td>
           <td>${(u.exercise.description)}</td>
           <td>${(u.tourguide.username)}</td>
         </tr>
        `)
        document.getElementById("tour-table-body").innerHTML = rows.join("")

    }
</script>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>
