/*css*/
/*LoginButton*/
#box{display: none;}
#container #login{ display: none;}
#box:checked + #container #login{ display: block;}


#videodiv{
    text-align:center;
}
#frontPageLogo{
    width: 100%;
    /*width: 1295px;*/

}
#countdown-container {
    display: inline-block; /*displays divs on a line*/
    width: 300px; /*gives the div element a width of 300px*/
    margin: 20px 0; /*gives 20px space at the top and bottom of the div element*/
    border-radius: 5px; /*curves the edges of the div element by 5px;*/
    background: #1d81af; /*gives the div element a background color*/
}
#countdown {
    font-family: "Fira Sans", sans-serif; /*changes the text font in the divelement */
    display: inline-block; /*displays divs on a line*/
    padding: 30px; /*creates 30px space between the content of the div element and the walls of the div element*/
    background: #1d81af;
    color: white; /*changes the text color in the div element*/
}
#countdown span {
    font-weight: bold; /*boldens text in the span element*/
    font-size: 30px; /*changes the text size in the span element*/
}





#chrMap {
    width: 400px;
    height: 600px;
    flex: 1 1 0;
    position: relative;
    outline: none;
}

.content-layout {
    display: flex;
    width: 100%;
}

#header-table-body {
    flex: 1 1 0;
}

.container {
    -webkit-box-shadow:0px 5px 10px gray;
    -moz-box-shadow:0px 5px 10px gray;
    box-shadow:0px 5px 10px gray;
}

.login-button {
    list-style-type: none;
}
/* HEADER */

/* Style the header with a grey background and some padding */
.headerfragment {
    /*background: url("images/bgimage.jpg") no-repeat;*/
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
    border-radius: 6px;

}

/* Style the header links */
.headerfragment a {

    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    /*border-radius: 4px;*/
}


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.headerfragment a.logo {
    /*background: url("images/icon64.jpg") right center no-repeat;*/
    width: 400px;
    height: 126px;
    background: url("../images/chrlogo.png") center center no-repeat;
    font-size: 25px;
    font-weight: bold;
    background-color: #464646;
    color: #eeeeee;
    border-radius: 20px;
}
.headerfragment a.active {
    float: left;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background: white;
    margin: 2px;
}
/*Style the active/current link*/
.headerfragment a.active:hover {
    background-color: white;
    color: #464646;
    border-radius: 4px;
}


/* Float the link section to the right */
.header-right {
    float: right;
    margin: 40px;

}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .headerfragment a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*Footer*/
.footer-dark {
    padding: 50px 200px 50px 0;
    color:#f0f9ff;
    background-color: gray;
}

.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer-dark .item.text {
    margin-bottom:36px;
    padding-left: 50px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom:0;
    }
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}

.row{
    display:flex;
}

.item{
    flex-basis: 0;
    flex-grow: 1;
    padding: 50px;
}

.button.play {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

// play state
border-style: solid;
    border-width: 37px 0 37px 60px;

}
.audio {
    position: absolute;
    right: 400px;
    top: 875px;
}
.aText{
    right: 400px;
    position: absolute;
}
